/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
    box-sizing: border-box;
}
*,*::before,*::after{
box-sizing: inherit;
}
body{
    font-family: Raleway;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    color:black;
  }
  /*Header*/
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .wrapper{
    max-width: 1340px;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
 .header_wrapper
 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 44px;
    padding-left: 55px;
    padding-right: 77px;
 }
 .logo
 {
    width: 61.09px;
    height: 19px;
} 
 .header_list{
    display: flex;
    flex-wrap: wrap;
    
}
 .header_aceul{
    margin-right: 67px;
}
.header_aceul:last-child{
    margin-right: 77px;
}
.header_link1{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0065FC;
    text-decoration: none;
} 
.header_link{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.header_link1:hover, .header_link1:focus, .header_link1:active{
    opacity: 75%;
}
.header_link:hover, .header_link1:focus, .header_link1:active{
    opacity: 75%;
}

/*Header*/

/*Intro start*/

.intro { 
    padding-top: 126px;
    padding-left: 55px;
}
.intro_title{
    width: 575px;
    height: 26px;
    font-weight: 700;
    font-size: 22px;
    color:#000000;
    white-space: nowrap;
    margin-bottom: 8px;
}
.intro_subtitle{
    max-width: 296px;
    color:#000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

/*Intro end*/